.about-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  padding: 20px;
}

.about-card {
  max-width: 600px;
  width: 100%;
}

.about-icon {
  vertical-align: middle;
  margin-right: 8px;
}

.links-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
}

mat-card-actions {
  display: flex;
  flex-direction: column;
  align-items: center;

  & h3 {
    width: 100%;
    font-weight: 500;
    margin-bottom: 8px;
    text-align: center;
  }
}

mat-card-content {
  flex-direction: column;
  margin-block: 20px;
}

.about-container {
  display: flex;
  justify-content: center;  /* Centra horizontalmente */
  align-items: center;      /* Centra verticalmente */
  height: calc(100vh - 164px);            /* Asegura que el contenedor ocupe toda la altura de la ventana */
}
