<mat-sidenav-container fullscreen>
  <mat-sidenav #sidenav mode="over" opened [ngStyle]="{ width: '250px' }">
    <!-- <mat-toolbar color="primary">
      <button   mat-icon-button class="example-icon"  aria-label="Example icon-button with menu icon" (click)="sidenav.toggle()">
        <mat-icon>menu</mat-icon>
      </button>
      <span></span>
      <span class="spacer"></span>
    </mat-toolbar> -->

    <mat-nav-list>
      <mat-list-item (click)="sidenav.toggle()">

      </mat-list-item>
    </mat-nav-list>
  </mat-sidenav>

  <!-- Toolbar principal -->
  <mat-toolbar color="primary">
    <button mat-icon-button (click)="sidenav.toggle()">
      <mat-icon>menu</mat-icon>
    </button>
    <span>Dashboard</span>

    <span class="spacer"></span>

    <button mat-icon-button>
      <mat-icon [ngStyle]="{ color: 'red'}">logout</mat-icon>
    </button>
  </mat-toolbar>

  <div class="container p-2">
    <router-outlet></router-outlet>
  </div>
</mat-sidenav-container>
