<mat-sidenav-container fullscreen>
  <mat-sidenav #sidenav mode="over" closed [ngStyle]="{ width: '250px' }">
    <mat-toolbar color="primary">
      <span>{{ currentUser?.username | titlecase}}</span>
      <span class="spacer"></span>
      <!-- <button mat-icon-button (click)="sidenav.toggle()">
        <mat-icon>menu</mat-icon>
      </button> -->
      <div class="user-image-container">
        <img class="user-image" src="assets/images/picture.ico" alt="User picture">
      </div>
    </mat-toolbar>

    <mat-nav-list class="sidenav-list">
      <div class="menu-items">
        <!-- <mat-list-item
          *ngFor="let item of sidebarItems"
          (click)="sidenav.toggle()"
          [routerLink]="item.url">

          <mat-icon matListItemIcon class="icon-sidenav-item">{{ item.icon }}</mat-icon>
          <p matLine> {{ item.label }} </p>
        </mat-list-item> -->

        <mat-list-item (click)="[sidenav.toggle()]" [routerLink]="'./dashboard'">
          <mat-icon matListItemIcon class="icon-sidenav-item">dashboard</mat-icon>
          <p matLine> Dashboard </p>
        </mat-list-item>
        <mat-list-item (click)="[sidenav.toggle(), openCreateTaskDialog()]">
          <mat-icon matListItemIcon class="icon-sidenav-item">add_circle</mat-icon>
          <p matLine> Create task </p>
        </mat-list-item>
        <mat-list-item (click)="[sidenav.toggle()]" [routerLink]="'./about-application'">
          <mat-icon matListItemIcon class="icon-sidenav-item">info</mat-icon>
          <p matLine> About </p>
        </mat-list-item>
      </div>

      <mat-list-item (click)="logout()" class="logout-sidenav-item">
        <mat-icon matListItemIcon class="icon-logout-sidenav-item">logout</mat-icon>
        <p matLine> Log out </p>
      </mat-list-item>

    </mat-nav-list>
  </mat-sidenav>

  <!-- Toolbar principal -->
  <mat-toolbar color="primary" class="main-toolbar">
    <button mat-icon-button (click)="sidenav.toggle()">
      <mat-icon>menu</mat-icon>
    </button>
    <span>Dashboard</span>

    <span class="spacer"></span>

    <!-- <button mat-icon-button (click)="logout()">
      <mat-icon [ngStyle]="{ color: 'red'}">logout</mat-icon>
    </button> -->
    <!-- <div >
      <img class="user-image" src="assets/images/picture.ico" alt="User picture">
    </div> -->
  </mat-toolbar>

  <div class="container p-2">
    <router-outlet></router-outlet>
  </div>
</mat-sidenav-container>
